/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.ymaps-2-1-79-map-copyrights-promo {
  visibility: hidden;
}

.ymaps-2-1-79-copyright {
  visibility: hidden;
}
