/* здесь используйте глобальные переменные */
//Viewports-width
$mobile: 767px;
$tablet: 768px;
$desktop: 1280px; // or 1440px;?
//Fotnts
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;
//Text
$text-primary: #000000;
$text-secondary: #444444;
//Colors
$color-primary: #68b738;
$color-secondary: #f2f2f2;
$color-error: #ff8282;
$color-slider: #5eaa2f;
$color-social: #666666;
