.academy-logo {
  text-decoration: none;
}

.academy-logo__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-secondary;
}

.academy-logo__image {
  //comments
}
