.academy-logo {
  text-decoration: none;
}

.academy-logo__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-secondary;

  &:active {
    opacity: 0.3;
  }
}

.academy-logo__icon {
  color: #666666;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
