.card {
  position: relative;
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    height: 1px;
    bottom: 0;
    background-color: $color-card;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 0 37px 40px;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content) 1fr;
    background-color: $color-secondary;
  }

  @media (min-width: $desktop) {
    width: 245px;
    padding: 0 38px 40px;
  }
}

.card__image-link {
  height: 107px;
  padding-top: 4px;
  grid-column: 1 / 2;
  grid-row: span 2;
  justify-self: center;

  &--small {
    padding-top: 13px;
  }

  @media (min-width: $tablet) {
    height: 210px;
    margin: 0 auto;
    margin-top: -71px;
    margin-bottom: 22px;
    grid-column: 1 / -1;

    &--small {
      padding-top: 17px;
    }
  }

  @media (min-width: $desktop) {
    height: 196px;
    margin-bottom: 24px;
  }
}

.card__image {
  display: block;
  //width: 100%;
  height: auto;
  object-fit: contain;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
  }
}

.card__caption-link {
  text-decoration: none;
  color: #222222;
  grid-column: 2 / -1;
  max-width: 76px;
  margin-bottom: 11px;
  padding-top: 3px;

  @media (min-width: $tablet) {
    display: block;
    max-width: 135px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop) {
    max-width: 140px;
    margin-bottom: 23px;
  }
}

.card__caption {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 140px;
    min-height: 49px;
    padding-right: 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__feature-list {
  margin: 0;
  grid-column: 2 / -1;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    display: grid;
    row-gap: 5px;
  }

  @media (min-width: $desktop) {
    width: 169px;
    row-gap: 7px;
  }
}

.card__feature-item {
  display: flex;
  justify-content: space-between;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  color: $text-secondary;

  @media (min-width: $tablet) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    gap: 6px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__amount {
  margin: 0;
}
