.card {
  @media (min-width: $tablet) {
    background-color: $color-secondary;
  }
}

.card__image-link {
  //comments
}

.card__image {
  //comments
}

.card__caption-link {
  text-decoration: none;
  color: #222222;
}

.card__caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__feature-list {
  margin: 0;
}

.card__feature-item {
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  color: $text-secondary;
}

.card__value {
  //comments
}

.card__amount {
  margin: 0;
}
