.description {
  //comments
}

.description__wrapper {
  //comments
}

.description__title {
  margin: 0;
}

.description__list {
  @include list-reset;
  counter-reset: 0; /* Нужен ли тут сброс? */
}

.description__item {
  position: relative;
  counter-increment: enumerator 1;

  &::before {
    content: "";
    position: absolute;
    background-color: $color-primary;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: counter(enumerator);
    position: absolute;
    font-size: 280px;
    color: $color-secondary;
    z-index: -1;
  }

  &--healthy::before {
    background-image: url("../../icons/stack.svg#index_healthy-icon");
    background-size: 25px 28px;
  }

  &--simple::before {
    background-image: url("../../icons/stack.svg#index_simple-icon");
    background-size: 26px 29px;
  }

  &--tasty::before {
    background-image: url("../../icons/stack.svg#index_tasty-icon");
    background-size: 25px 30px;
  }

  &--fast::before {
    background-image: url("../../icons/stack.svg#index_fast-icon");
    background-size: 26px 31px;
  }
}

.description__text {
  margin: 0;
  font-family: $font-primary;
  color: $text-secondary;

  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--healthy::before {
    background-image: url("../../icons/index/healthy-icon.svg");
  }

  &--simple::before {
    background-image: url("../../icons/index/simple-icon.svg");
  }

  &--tasty::before {
    background-image: url("../../icons/index/tasty-icon.svg");
  }

  &--fast::before {
    background-image: url("../../icons/index/fast-icon.svg");
  }
}

.description__text--healthy {
  //comments
}

.description__text--tasty {
  //comments
}

.description__text--fast {
  //comments
}
