.footer {
  background-color: $color-secondary;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  //comments
}

.footer__social {
  //comments
}

.footer__academy {
  //comments
}
