.footer {
  background-color: $color-secondary;
}

.footer__wrapper {
  padding: 40px 0;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  @media (min-width: $tablet) {
    padding: 57px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: $desktop) {
    padding: 67px 0;
    width: 1220px;
  }
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding: 5px 0;
    border: none;
    justify-self: start;
    grid-column: 1 / 2;
  }
}

.footer__social {
  margin-bottom: 10px;
  padding: 11px 0 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 7px 0;
    grid-column: 2 / 3;
    border: none;
  }
}

.footer__academy {
  @media (max-width: $mobile) {
    margin: 0 auto;
    width: 280px;
  }

  @media (min-width: $tablet) {
    justify-self: end;
    grid-column: 3 / -1;
  }
}
