.footer-logo {
  display: grid;
  place-content: center;
}

.footer-logo__text {
  width: 128px;
  height: auto;
  color: #111111;

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    opacity: #6b6b6b;
  }
}
