.hero {
  background-image:
    url("../../images/index/hero-cat@1x.jpg"),
    linear-gradient(#62a63b 302px, #ffffff 302px);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-primary;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet) {
    background-color: #ffffff;
    background-image: none;
    color: $text-primary;
  }

  @media (min-width: $desktop) {
    background: none;
    color: $text-primary;
    //на page бг-им
  }
}

.hero__wrapper {
  //comments
}

.hero__title {
  margin: 0;
}

.hero__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  //comments
}

.hero__button {
  //comments
}
