.hero {
  background-color: $color-primary;
  color: #ffffff;
  background-image: url("../../images/index/hero-cat@1x.jpg");
  background-repeat: no-repeat;
}

.hero__wrapper {
  //comments
}

.hero__title {
  margin: 0;
}

.hero__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  //comments
}

.hero__button {
  //comments
}
