.navigation {
  //comments
}

.navigation__toggle {
  background-image: url("../../icons/stack.svg#mobile_hamburger-button-mobile");
  background-size: 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
}

.navigation__list {
  //comments
}
