.page {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
  background-color: #ffffff;
  color: $text-primary;

  &--background {
    @media (min-width: $desktop) {
      background-image: url("../../images/index/hero-cat@2x.jpg");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 720px 694px;
    }
  }
}

.page__content {
  //comments
}
