.program {
  display: grid;
  grid-template-columns: 69px 1fr;
  align-items: start;
  padding: 21px 20px 18px;
  background-color: $color-secondary;
  position: relative;

  @media (min-width: $tablet) {
    grid-template-columns: 393px auto;
    grid-auto-flow: dense;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 162px 1fr;
  }

  &--slim {
    @media (min-width: $tablet) {
      padding: 77px 63px 58px 52px;
    }

    @media (min-width: $desktop) {
      padding: 44px 61px 58px 52px;
    }
  }

  &--pro {
    padding-top: 24px;

    @media (min-width: $tablet) {
      padding: 77px 29px 58px 52px;
    }

    @media (min-width: $desktop) {
      padding: 47px 61px 58px 52px;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    //grid-column: 1 / 2;
    background-color: $color-primary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 21px;

    @media (min-width: $tablet) {
      width: 200px;
      height: 200px;
      left: 444px;
      top: 92px;
      // grid-column: 2 / -1;
      // grid-row: span 3;
    }

    @media (min-width: $desktop) {
      margin: 0;
      width: 100px;
      height: 100px;
      left: 51px;
      top: 48px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    width: 37px;
    height: 50px;
    top: 22px;
    left: 27px;
    background-image: url("../../icons/stack.svg#index_cat-slim-mobile");

    @media (min-width: $tablet) {
      width: 145px;
      height: 194px;
      left: 472px;
      top: 80px;
      background-image: url("../../icons/stack.svg#index_cat-slim-tablet");
    }

    @media (min-width: $desktop) {
      width: 70px;
      height: 100px;
      left: 67px;
      top: 40px;
      background-image: url("../../icons/stack.svg#index_cat-slim-desktop");
    }
  }

  &--pro::after {
    width: 67px;
    height: 50px;
    top: 25px;
    left: 20px;
    margin-left: -7px;
    background-image: url("../../icons/stack.svg#index_cat-pro-mobile");

    @media (min-width: $tablet) {
      margin-left: -34px;
      margin-top: 14px;
      width: 269px;
      height: 113px;
      left: 444px;
      top: 120px;
      background-image: url("../../icons/stack.svg#index_cat-pro-tablet");
    }

    @media (min-width: $desktop) {
      margin-left: -19px;
      width: 134px;
      height: 100px;
      left: 52px;
      top: 33px;
      background-image: url("../../icons/stack.svg#index_cat-pro-desktop");
    }
  }
}

.program--pro .program__title {
  @media (min-width: $desktop) {
    padding-top: 30px;
  }
}

.program__title {
  margin: 0;
  padding-top: 7px;
  grid-column: 2 / -1;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
    padding: 0;
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-top: 32px;
    grid-column: 2 / -1;
    font-size: 36px;
    line-height: 36px;
  }
}

.program__description {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 30px;
  grid-column: 1 / -1;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $text-secondary;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
    padding: 0;
    max-width: 340px;
    grid-column: 1 / 2;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    max-width: 100%;
    margin-bottom: 29px;
    padding-top: 73px;
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
  }
}

.program__link {
  padding: 4px 0;
  padding-top: 19px;
  grid-column: 1 / -1;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $text-primary;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    mask: url("../../icons/stack.svg#index_icon-arrow-24") no-repeat center;
    background-color: $text-primary;
    transition: all 0.5s;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    gap: 25px;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    gap: 25px;
    padding: 4px 0;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover::after,
  &:focus::after {
    margin-left: 5px;
    transform: scaleX(1.3);
    transition: all 0.4s;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:active {
    opacity: 0.3;
  }
}
