.program {
  background-color: $color-secondary;
}

.program__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    background-image: url("../../icons/index/cat-slim.svg");
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    background-image: url("../../icons/index/cat-pro.svg");
  }
}

.program__description {
  margin: 0;
  font-family: $font-secondary;
  color: $text-secondary;
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  color: $text-primary;
  text-decoration: none;
  text-transform: uppercase;
}
