.programs {
  //comments
}

.programs__wrapper {
  //comments
}

.programs__list {
  @include list-reset;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.programs__item {
  position: relative;
}
