.showing {
  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#catalog_icon-plus-30");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet) {
      content: "";
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      width: 60px;
      height: 60px;
      background-image: url("../../icons/stack.svg#catalog_icon-plus-60");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  /* Как быть в таком случае, если размер <svg viewBox="0 0 30 30", а в версиях пл и дескт 60х60?
  Ответ: решается через медиа запрос для таблет и дескт */
}

.showing__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.showing__description {
  margin: 0;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
}
