.site-list {
  @include list-reset;
}

.site-list--closed {
  //comments
}

.site-list__item--current {
  //comments
}

.site-list__item {
  //comments
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-primary;
}
