.slider {
  position: relative;
}

.slider__image {
  //comments
}

.slider__change-image {
  //comments
}

.slider__change-image-separator {
  border: none;
  background: none;
  color: #666666;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-primary;
    outline: none;
  }

  &:active {
    color: $color-slider;
    opacity: 0.6;
  }
}

