.social {
  //comments
}

.social__wrapper {
  //comments
}

.social__list {
  @include list-reset;
  max-width: 132px;
  margin: 0 auto;
}

.social__item {
  position: relative;
}

.social__link {
  background-color: $color-social;
  position: absolute;
  width: 30px;
  height: 20px;

  &--vk {
    mask-image: url("../../icons/stack.svg#social_vkontakte");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#social_youtube");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#social_telegram");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
